.app
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color : #444;
}

.leftColumn
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: 100%;
    justify-content: space-between;
}

.rightColumn
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    background-color: #F5F5F5;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

.rightContent
{
    width: 90%;
    height: 90%;
}

.rightTop
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    width: 100%;
}

.rightMiddle
{
    height: 60%;
    width: 100%;
}

.rightBottom
{
    height: 20%;
    width: 100%;
}